<div id='meditation'>
  <div id='welcome'>
    <h2>Welcome to Your Zen Cave</h2>
    <h3>Just Breathe</h3>
  </div>
  <div id='get_breathe'>
    <form id="myForm">
      How many breathes today? <br>
      <input type="number" columns="10" name="numLimit"><br>
      <input id="zenbutton" type="submit" value="Breathe...">
    </form>
  </div>
<div id='display'>

  <span id='score'> Press the space bar when you are ready to exhale </span><br>
  <span id='avg'> </span><br>
   <span id='max'> </span><br>
  <span id='min'> </span>
</div>

</div>
